apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-deep-ployment"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  type: ClusterIP
  ports:
  - port: {{ service.port }}
    protocol: TCP
    targetPort: 80
  selector:
    app: "{{ ansible_operator_meta.name }}-deep-ployment"
